span {
	display: block;
	padding: 220px 20px;
	user-select: none;
}

.container {
	max-width: 1140px;
	margin: 200px auto;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 500px;
}

.slider__img {
	max-height: 500px
}

.slider__btn {
	z-index: 1000;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;

	font-size: 50px;
	color: wheat;

	transition: background .2s linear;
}

.slider__btn:hover {
	background: rgba(0, 0, 0, .2);
}

.slider__btn:active {
	background: rgba(0, 0, 0, .5);
}

.next {
	margin-left: -69px;

}

.back {
	margin-right: -69px;
}